
<!DOCTYPE html>
<html lang="en">
<head>

        <title>Gym Pal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
<body >
    <nav class="sb-topnav navbar navbar-expand " style="background-color:#990000;">
            <a class="navbar-brand ml-5 " style="color:black; font-size:40pt; font-weight:bold;"  >Gym Pal</a>
            <img src="img/Symbol.png" style="float:right;" class="img-responsive" width="15%"  alt="">
            <!-- Navbar-->
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li>
                          <a class="btn text-light mx-5" type="submit" style="background-color:black;" href="aboutUs">About Us</a> 
                        </li>
                        <li class="nav-item">
                            <a class="btn text-light" type="submit" style="background-color:black;" href="login">User Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="register" class="btn text-light mx-5" style="background-color:black;">Create Account</a>
                        </li>
                    </ul>
                </div>
        </nav>

        <div class="row">
            
            <div class="col"><img src="images/HomePhotoV2.png" class="img-responsive" width="100%" alt=""></div>
        </div>
        <div class="row">
            <div class="col text-center" style="color:#990000; font-size:40pt; background-color:black; font-weight:bold;">Features designed to help you achieve your goals:</div>
        </div>

        <div class="card-deck " style="background-color:black">
                <div class="card border-dark mb-5 " style="border-radius:50%;"  >
                <img src="images/Compound-Exercise-Workout.jpg" style="height: 200px;" class="card-img-top" alt="...">
                <div class="card-body " style="background-color:#990000;">
                    <h5 class="card-title" style="color:black; font-size:30pt;">Workout Tracking:</h5>
                    <p class="card-text" style="color:black; font-size:20pt;">Keep Track of all your past workouts. This enables you to seen your progress and adjust future workouts.</p>
                </div>
                </div>
                <div class="card border-dark mb-5 " style="border-radius:50%;">
                <img src="images/total-workout-volume.jpg" style="height: 200px;" class="card-img-top" alt="...">
                <div class="card-body " style="background-color:#990000;">
                    <h5 class="card-title" style="color:black; font-size:30pt;">Volume Tracking:</h5>
                    <p class="card-text" style="color:black; font-size:20pt;">Ensuring progressive overload is a key part of achieving your goals in the gym. This feature allows you to view your volume by whole body or body part.</p>
                </div>
                </div>
                <div class="card border-dark mb-5 " style="border-radius:50%;">
                <img src="images/Progress.png" style="height: 200px;" class="card-img-top" alt="...">
                <div class="card-body " style="background-color:#990000;">
                    <h5 class="card-title" style="color:black; font-size:30pt;">Progress Tracking:</h5>
                    <p class="card-text" style="color:black; font-size:20pt;">Keep track of your progress so that you can see the success you have achieved.</p>
                </div>
                </div>
                <div class="card border-dark mb-5 " style="border-radius:50%;">
                <img src="images/Recovery.jpg" style="height: 200px;" class="card-img-top" alt="...">
                <div class="card-body " style="background-color:#990000;">
                    <h5 class="card-title" style="color:black; font-size:30pt;">Recovery Recommendations:</h5>
                    <p class="card-text" style="color:black; font-size:20pt;">If you have pain such as joint pain you can receive recommendations for stretches and exercises that can help.</p>
                </div>
                </div>
        </div>
</body>
</html>