<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About US</title>

     <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style1.css" type="text/css">
</head>
<body>

        <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="home">
                    <img src="img/Logo.png" alt="">
                </a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="active"><a href="home">Home</a></li>
                            <li><a href="login">Login</a></li>
                            <li><a href="register">Create Account</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
        <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p class="long-details">My name is Tim, and I am the creator of Gym Pal.
                             I started going to the gym about six years ago. When I first walked into the gym,
                             I was not very knowledgeable and just thought you had to lift weights, and you would 
                            end up looking like the people on fitness magazines. I quickly realized this was not the
                            case. I enlisted in the Marine Corps in 2016, and the gym became my passion. I loved the challenge,
                            the physical and mental benefits, and the dedication it takes. With this new passion, I started
                            researching what it takes to succeed in the gym. I read about macros, progressive overload, recovery,
                            and exercise form. I started taking a notebook to the gym to track my workouts and also started tracking
                            my macros. After applying this knowledge and these tools, I went from 170lbs to 220lbs and could not be
                            happier. But in life, we should always seek to continue to progress and improve. This is one reason why
                            I decided to create this app. I wanted a platform that would allow me to track workouts how I wanted, 
                            along with providing other useful features that I could use to improve myself. Gym Pal is an app created 
                            by a lifter for lifters. With that being said, I want to continually improve this app and provide features
                            that other lifts would like to have. If you have any feedback or recommendations, please send an email to
                            Gym.Pal@outlook.com, and I will look at implementing any suggestions that could help users.  Thank you for
                            looking at Gym Pal and stay driven to achieve your goals!
                        </p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="img\AboutMe.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>